# Server Network Configuration
PORT=8000
FRONTEND_URL=http://localhost:3000

# MongoDB Connection String (Atlas URI)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/documind?retryWrites=true&w=majority

# BetterAuth Authentication Configuration
BETTER_AUTH_SECRET=your_better_auth_secret_minimum_32_characters_here
BETTER_AUTH_URL=http://localhost:8000


# Google OAuth Credentials (Google Cloud Console -> APIs & Services -> Credentials)
GOOGLE_CLIENT_ID=your_google_oauth_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_oauth_client_secret

# Cloudinary Storage Credentials (Cloudinary Dashboard)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Pinecone Vector Database Credentials (Pinecone Console)
PINECONE_API_KEY=your_pinecone_api_key
PINECONE_INDEX_NAME=documind-index
PINECONE_HOST_URL=https://documind-index-xxxxxxx.svc.pinecone.io

# OpenRouter LLM API Configuration (OpenRouter Console)
OPENROUTER_API_KEY=sk-or-v1-your_openrouter_api_key
OPENROUTER_MODEL=meta-llama/llama-3.3-70b-instruct:free

# Inngest Background Function Configuration
INNGEST_DEV=1
